body {
  margin: 0;
  padding: 20px;
  background: #f2f5f3;
  color: #111;
  font-family: Arial, sans-serif;
}

div {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #00b866;
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  color: #00b866;
  font-size: 25px;
  margin-top: 30px;
}

p {
  background: white;
  padding: 15px;
  border-radius: 14px;
  margin: 10px 0;
  font-size: 17px;
  border: 1px solid #dce5df;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

button {
  flex-shrink: 0;
  background: #00ee80;
  color: #07100b;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

h3 {
  text-align: center;
  background: #00ee80;
  color: #07100b;
  padding: 15px;
  border-radius: 14px;
  margin-top: 30px;
}
